<h1>Editing degree_description</h1>

<% form_for(@degree_description) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @degree_description %> |
<%= link_to 'Back', degree_descriptions_path %>