<h1> Re enter credintials for authorization </h1>

<% form_for(:session,:url=>'authorize2') do |f| %>
    <!--  -->
  <% if @ability.can? :assign_roles, @person %>
  <p>
      <%=h puts "Here is Admin Mode\n"%>
      <%= f.label :role %>
    <!-- role selection boxes go here -->
      <%= f.collection_select :role, @array_roles, :to_s, :humanize %><br />
    <!-- role checkboxes go here -->
      <% for role1 in @array_roles %>
        <%#= check_box_tag "person[roles][]", role1, @person.roles.include?(role1) %>
        <%#=h role1.humanize %><br />
<<<<<<< HEAD
      <% end %> 
    <!--  -->  
      <%= hidden_field_tag "person[roles][]", :role %>
  </p> 
=======
      <% end %>
    <!--  -->
      <%= hidden_field_tag "person[roles][]", :role %>
  </p>
>>>>>>> 40ffe4fa9214a46bf3437929c59d01bf9cc2879a
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
  <% end %>
  <!--  -->
<% end %>

<%= link_to 'Submission process', url_for(:controller=>:submit,:action=>:show_etds_by_author,:user_id=>@person.pid) %>
