<h2> Log in</h2>
<p>Enter your Virginia Tech PID (username) and password. Note that you
must use the PID you were originally assigned, and not any aliases you
may have created. <a href="http://www.4help.vt.edu/">Help
with PIDs</a> (including forgotten passwords or deactivated accounts).</p>

<%= form_for(:session2, :url => '/sessions/create') do |f| %>
  <div class="field">
    <%= f.label :pid, "Username"%><br />
    <%= f.text_field :pid%>
  </div>
<!--  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
-->  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<p><b>Your browser must accept <a href="/ETD-db/help/#cookies">cookies</a>
 to continue the submission process.</b>
(<a href="/ETD-db/help/#browser">browser compatibility issues</a>).</p>

<p style="color:red"><b>Please note:</b>

If you are using Internet Explorer, and the clock on your machine is more than 15 minutes out of sync with the clock on our server, you may have problems with the cookies used by the submission software.  The current date and time on our server is <b>Sun Jul 13 10:03:33 EDT 2110
</b>.  Be sure to reload this page before attempting to reset your clock.
</p>
<!--
<p>New user? <%= link_to "Sign up now!", url_for(:action => 'new') %></p>
-->
