<h3>Other contents in this ETD:</h3>
<table>
  <tr>
    <th>Filename:</th>
    <th>Type:</th>
    <th>Size (bytes):</th>
    <th>Availability:</th>
    <th>Page Count:</th>
    <th>Duration:</th>
    <th>Dimensions:</th>
  </tr>
  <% @etd.contents.each do |content| %>
    <% if content.id != @content.id %>
    <tr>
      <td><%= link_to(content.content_file_name, content_path(content)) %></td>
      <td><%= content.content_content_type %></td>
      <td><%= content.content_file_size %></td>
      <td><%= content.availability.name %></td>
      <td><%= content.page_count %></td>
      <td><%= content.dimensions %></td>
      <td><%= content.duration %></td>
      <% if current_person && (current_person.in_role_group?("Administration") || @etd.people.include?(current_person)) %>
        <td><%= button_to 'Destroy', destroy_content_path(content), data: {confirm: 'Are you sure?'} %></td>
      <% end %>
    </tr>
    <% end %>
  <% end %>
</table>
