<%= form_for @content do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% @content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <h3><%= @content.content.file.filename %><h3>
  </div>

  <div class="field">
    <%= f.label(:title) %><br />
    <%= f.text_field(:title) %>
  </div>
  <div class="field">
    <%= f.label(:description) %><br />
    <%= f.text_area(:description) %>
  </div>
  <div class="field">
    <%= f.label(:page_count) %><br />
    <%= f.text_field(:page_count) %>
  </div>
  <div class="field">
    <%= f.label(:duration) %><br />
    <%= f.text_field(:duration) %>
  </div>
  <div class="field">
    <%= f.label(:dimensions) %><br />
    <%= f.text_field(:dimensions) %>
  </div>

  <% if @etd.availability.name == "Mixed" %>
  <div class="field">
    <%= f.label(:availability_id, "Availability") %>
    <table>
      <% for avail in Availability.where(:retired => false) do %>
        <% if avail.name != "Mixed" %>
        <tr>
          <td valign='top'><%= f.radio_button(:availability_id, avail.id) %></td>
          <td valign='top' align='right'><%= avail.name %>:</td>
          <td valign='top'><%= avail.description %></td>
        </tr>
        <% end %>
      <% end %>
    </table>
  </div>
  <% end %>

  <%=h hidden_field_tag('etd_id', @etd.id) %>
  <%= f.submit %>
<% end %>

<br />
<h3>Other contents in this ETD:</h3>
<table>
  <tr>
    <th>Filename:</th>
    <th>Type:</th>
    <th>Size:</th>
    <th>Availability:</th>
    <th>Bound:</th>
    <th>Page Count:</th>
    <th>Duration:</th>
    <th>Dimensions:</th>
  </tr>
  <% @etd.contents.each do |content| %>
    <tr>
      <td><%=h content.content.file.filename %></td>
      <td><%=h content.content.file.content_type %></td>
      <td><%=h content.content.file.size %></td>
      <td><%=h content.availability.name %></td>
      <td><%=h content.bound %></td>
      <td><%=h content.page_count %></td>
      <td><%=h content.dimensions %></td>
      <td><%=h content.duration %></td>
      <td><%= link_to 'Destroy', content, :confirm => 'Are you sure?', :method => :delete %></td>
      <% if content.id != @content.id %>
              <td><%= link_to 'Edit', edit_content_path(content) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
