<h1>New content</h1>

<%= form_for(@content) do |f| %>

  <p>
    <%= f.label :uploaded_file_name, "File name:" %><br />
    <%= f.text_field :uploaded_file_name %>
  </p>
  <p>
    <%= f.label :uploaded_content_type, "File type:" %><br />
    <%= f.text_field :uploaded_content_type %>
  </p>
  <p>
    <%= f.label :uploaded_file_size, "Size:" %><br />
    <%= f.text_field :uploaded_file_size %>
  </p>
  <p>
    <%= f.label :availability %><br />
    <%= f.text_field :availability %>
  </p>
  <p>
    <%= f.label :bound %><br />
    <%= f.text_field :bound %>
  </p>
  <p>
    <%= f.label :page_count %><br />
    <%= f.text_field :page_count %>
  </p>
  <p>
    <%= f.label :timestamp %><br />
    <%= f.datetime_select :timestamp %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', contents_path %>

<table>
<p>
  <tr><th>Filename:</th>  <th>Types:</th> <th>Size:</th> <th>Availability:</th> <th>Bound:</th></tr>

<% @etd.contents.each do |content| %>
<% if content.uploaded_file_name != nil  %>
  <tr><td><%=h  content.uploaded_file_name %></td><td> <%=h content.uploaded_content_type %></td><td><%=h content.uploaded_file_size %></td> <td><%=h content.availability %></td> <td><%=h content.bound %></td>
<td><%= link_to 'Delete This File', url_for(:controller => :submit, :action => :delete_file , :id => content.id), :confirm=>"Are you sure to delete the file?"%></td></tr>
<% end %>
<% end %>
</p>
</table>


<h1>Add New Files</h1>
<p>Use this form to upload files to be associated with your ETD.<br>
Note: You may experience problems if your files take longer than a half hour to upload. If you are uploading large files, try adding one at a time.<br>
If you are experiencing problems uploading your files, take a look at our file uploads help.</p>
<table>
<tr>
    <th><center>   <b> Files to be uploaded</b></center></th>
</tr>
<tr>
    <td>
        <%= form_for @etd,
            :url => {:action => 'save_contents'},
             :html => {:multipart => true}   do |form| %>
            <%=h hidden_field_tag 'id', @etd.id %>
<!--            Comment: <%#= form.text_field("comment" ) %><br/>

-->         <td>Upload your picture: </td> </tr>
							 <%# @etd.contents.each do |contents| %>
						         <%= form.fields_for :contents do |content| %>
							     <% if content.object.new_record? %>
                 					  <tr><td></td><td>    <%= content.file_field  :uploaded_picture %></td></tr>
           						     <% end %>
       							 <% end %>
							 <%# end %>
  <tr><td></td><td align="right"><%= form.submit 'submit' %></td></tr>
		<% end %>
</table>
