<h1>New content</h1>

<%= form_for(@content) do |f| %>

  <p>
    <%= f.label :uploaded_file_name, "File name:" %><br />
    <%= f.text_field :uploaded_file_name %>
  </p>
  <p>
    <%= f.label :uploaded_content_type, "File type:" %><br />
    <%= f.text_field :uploaded_content_type %>
  </p>
  <p>
    <%= f.label :uploaded_file_size, "Size:" %><br />
    <%= f.text_field :uploaded_file_size %>
  </p>
  <p>
    <%= f.label :availability %><br />
    <%= f.text_field :availability %>
  </p>
  <p>
    <%= f.label :bound %><br />
    <%= f.text_field :bound %>
  </p>
  <p>
    <%= f.label :page_count %><br />
    <%= f.text_field :page_count %>
  </p>
  <p>
    <%= f.label :timestamp %><br />
    <%= f.datetime_select :timestamp %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', contents_path %>
