<p>
  <b>ETD:</b>
  <%= link_to @etd.title.html_safe, etd_path(@etd) %>
</p>
<p>
  <b>Filename:</b>
  <%= @content.content_file_name %><br />
  <b><%= link_to 'Download', download_content_path(@content) %></b>
</p>
<p>
  <b>Type:</b>
  <%= @content.content_content_type %>
</p>
<p>
  <b>Size:</b>
  <%= @content.content_file_size %>
</p>
<p>
  <b>Availability:</b>
  <%= @content.availability.name %>
</p>
<p>
  <b>Bound:</b>
  <%= @content.bound %>
</p>
<p>
  <b>Page Count:</b>
  <%= @content.page_count %>
</p>
<p>
  <b>Dimensions:</b>
  <%= @content.dimensions %>
</p>
<p>
  <b>Duration:</b>
  <%= @content.duration %>
</p>
<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back to ETD', etd_path(@etd) %>
<br />
<%= render 'contents_in_etd' %>
