<p>
  <b>ETD:</b>
  <%= link_to @etd.title.html_safe, etd_path(@etd) %>
</p>
<p>
  <b>Filename:</b>
  <%= @content.content_file_name %><br />
  <b><%= link_to 'Download', download_content_path(@content) %></b>
</p>
<p>
  <b>Type:</b>
  <%= @content.content_content_type %>
</p>
<p>
  <b>Size:</b>
  <%= @content.content_file_size %> bytes
</p>
<p>
  <b>Availability:</b>
  <%= @content.availability.name %>
</p>
<% unless @content.page_count.nil? %>
<p>
  <b>Page Count:</b>
  <%= @content.page_count %>
</p>
<% end %>
<% unless @content.dimensions.nil? %>
<p>
  <b>Dimensions:</b>
  <%= @content.dimensions %>
</p>
<% end %>
<% unless @content.duration.nil? %>
<p>
  <b>Duration:</b>
  <%= @content.duration %>
</p>
<% end %>
<% if current_person && (current_person.in_role_group?("Administration") || @etd.people.include?(current_person)) %>
  <%= button_to('Edit', edit_content_path(@content), method: :get) %>
<% end %>
<br />
<%= link_to('Back to ETD', etd_path(@etd)) %>
<br />
<% if @etd.contents.count > 1 %>
  <%= render 'contents_in_etd' %>
<% end %>
