<h1>Listing actions</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @user_actions.each do |user_action| %>
  <tr>
    <td><%=h user_action.name %></td>
    <td><%= link_to 'Show', user_action %></td>
    <td><%= link_to 'Edit', edit_user_action_path(user_action) %></td>
    <td><%= link_to 'Destroy', user_action, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New action', new_user_action_path %>
