<h1>Enter a new person</h1>

<% form_for(@person) do |f| %>
  <p>
    <!------------------------>
    <% if @ability.can? :assign_roles, @person %>
      <%=h puts "Here is Admin Mode\n"%>
      <%= f.label :role %>
    <!-- role selection boxes go here -->
      <%#= f.collection_select :role, @array_roles, :to_s, :humanize %><br />
    <!-- role checkboxes go here -->
      <% for role1 in @array_roles %>
        <%= check_box_tag "person[roles][]", role1, @person.roles.include?(role1) %>
        <%=h role1.humanize %><br />
      <% end %>
      <%= hidden_field_tag "person[roles][]", :role %>
    <% end %>
    <!------------------------>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :pid %><br />
    <%= f.text_field :pid %>
  </p>
  <p>
    <%= f.label :suffix %><br />
    <%= f.text_field :suffix %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', people_path %>
