<h1>Editing availability_description</h1>

<%= form_for(@availability_description) do |f| %>
  <p>
    <%= f.label :availability %><br />
    <%= f.text_field :availability %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @availability_description %> |
<%= link_to 'Back', availability_descriptions_path %>