<h3>Committee Etds</h3>
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
  </tr>

<% @committee_etds.each do |etd| %>
  <tr>
    <td><%= link_to(etd.title, etd_path(etd)) %></td>
    <td><%= Person.where(etd.people_roles.where(role_id: Role.where(group: "Creators")).first.id).first.name %></td>
    <td>
      <%= form_tag(vote_for_etd_path(etd)) do %>
        <%= select_tag(:vote, options_for_select([['Approve', true], ['Disapprove', false]])) %>
        <%= submit_tag('Vote') %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
<br />
