<h3>My Etds</h3>
<table>
  <tr>
    <th>Title</th>
    <th>Departments</th>
    <th>Defense Date</th>
  </tr>

<% @my_etds.each do |etd| %>
  <tr>
    <td><%=h etd.title %></td>
    <td><%=h Department.where(id: etd.departments).pluck(:name).join(", ") %></td>
    <td><%=h etd.ddate %></td>
    <td><%= link_to 'Show', etd_path(etd) %></td>
    <% if person_signed_in? && current_person.id == @person.id %>
      <td><%= link_to 'Edit', edit_etd_path(etd) %></td>
      <% if etd.status == "Created" %>
        <td><%= button_to 'Submit', submit_etd_path(etd), data: {confirm: 'Are you sure?'} %></td>
        <td><%= button_to 'Destroy', destroy_etd_path(etd), data: {confirm: 'Are you sure?'} %></td>
      <% else %>
        <td><%= button_to etd.status, submit_etd_path(etd), disabled: true %></td>
      <% end %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>
