<%= stylesheet_link_tag 'paginate' %>

<h1 class="top_bar">Listing people</h1>
<div id="page_pref" class="top_bar" style="margin-top:30px">
  <%= form_tag people_path, :method => 'get' do %>
    Results Per Page: <%= select_tag :per_page, options_for_select(%w[10 20 50 100], @per_page),
         :onchange => "this.form.submit();" %>
  <% end %>
</div>
<%=will_paginate @people %>
<br/>
<table class="clear_left">
<% @people.each do |person| %>
  <tr>
    <td><%= link_to(person.name, person_path(person)) %></td>
    <% if !current_person.nil? && current_person.in_role_gorup?("Administration") %>
      <% if person.valid?  %>
        <td><%= link_to 'Edit', edit_person_registration_path %></td>
        <td><%= button_to 'Destroy', destroy_person_path(person), data: {confirm: 'Are you sure?'} %></td>
      <% else %>
        <td><%= link_to 'Edit', edit_legacy_person_path(person) %></td>
        <td><%= button_to 'Destroy', destroy_legacy_person_path(person), data: {confirm: 'Are you sure?'} %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>
<br/>
<%=will_paginate @people %>

<br />
