<%= render 'profile' %>
<% if !@my_etds.empty? %>
  <%= render 'etd_items' %>
<% end %>
<% if !current_person.nil? && current_person.id == @person.id %>
  <p><%= link_to 'New ETD', new_etd_path %></p>
<% end %>
<% if !@committee_etds.empty? %>
  <%= render 'committee_items' %>
<% end %>
<% if !current_person.nil? && current_person.id == @person.id %>
  <% if @person.in_role_group?("Graduate School") %>
    <%= render 'review_items' %>
  <% end %>
  <% if @person.in_role_group?("Administration") %>
    <%= render 'admin_items' %>
  <% end %>
<% end %>
<br />
<%= link_to 'Browse ETDs', etds_path %>
