<% creators = Person.where(id: etd.people_roles.where(role_id: Role.where(group: 'Creators')).pluck(:person_id)).order('last_name ASC') %>
<h3><%="#{iteration + @result.offset}" + "."%> <%= link_to etd.title, etd %></h3>
<dl>
	<dt>Author</dt> 
	<dd> <%= creators.map { |o| o.name } .join(", ") %> </dd>
	<dt>Department</dt> 
	<dd> <%= etd.departments.pluck(:name).join(", ") %> </dd>
</dl>
<div class="etd_option_links">
<%= link_to 'Edit', edit_etd_path(etd) %> | <%= link_to 'Destroy', destroy_etd_path(etd), data: {confirm: 'Are you sure?'} %>
</div>