<% if !search.nil? %>
  <div id="facets" class="clear_left">
    <h3 class="facet_title">Author</h3>
    <ul <% if params[:author].blank? %>
          style="display:none"
        <% end %>> 
      <% for row in search.facet(:author).rows %>
        <li>
          <% if params[:author].blank? %>
            <%= link_to row.value, params.merge({:author => row.value}) %> (<%= row.count %>)
          <% else %>
            <strong><%= row.value %></strong> (<%= link_to "remove", params.merge({:author => nil}) %>)
          <% end %>
        </li>
      <% end %>
    </ul>
    <h3 class="facet_title">Document Type</h3>

    <% if params[:doc_info].blank? or params[:doc_info][:document_type_id].blank? %>
      <ul style="display:none" >
    <% else %>
      <ul>
    <% end %>
    <% for row in search.facet(:document_type_id).rows %>
      <% if !DocumentType.exists?(:id => row.value) %>
        <% next %>
      <% end %>
      <li>
        <% if params[:doc_info].blank? %>
          <%= link_to DocumentType.find(row.value).name, params.except(:page).merge({:doc_info => {:document_type_id => row.value}}) %> (<%= row.count %>)
        <% elsif !params[:doc_info].blank? and params[:doc_info][:document_type_id].blank? %>
          <%= link_to DocumentType.find(row.value).name, params.except(:page).merge({:doc_info => params[:doc_info].merge({:document_type_id => row.value})}) %> (<%= row.count %>)
        <% else %>
          <strong><%= DocumentType.find(row.value).name %></strong> (<%= link_to "remove", params.except(:page).merge({:doc_info => params[:doc_info].merge({:document_type_id => nil})}) %>)
        <% end %>
      </li>
    <% end %>
  </ul>

    <h3 class="facet_title">Department</h3>

    <% if params[:doc_info].blank? or params[:doc_info][:department].blank? %>
      <ul style="display:none" >
    <% else %>
      <ul>
    <% end %>
    <% for row in search.facet(:department).rows.sort{|x, y| Department.find_by_id(x.value).name <=> Department.find_by_id(y.value).name} %>
      <% if !Department.exists?(:id => row.value) %>
        <% next %>
      <% end %>
      <li>
        <% if params[:doc_info].blank? %>
          <%= link_to Department.find(row.value).name, params.except(:page).merge({:doc_info => {:department => [row.value]}}) %> (<%= row.count %>)
        <% elsif params[:doc_info][:department].blank? %>
          <%= link_to Department.find(row.value).name, params.except(:page).merge({:doc_info => params[:doc_info].merge({:department => [row.value]})}) %> (<%= row.count %>)
        <% else %>
          <%# Something exists in params[:doc_info][:department] %>
          <% temp_params = Array.new(params[:doc_info][:department]) %>
          <% if params[:doc_info][:department].include?(row.value.to_s) %>
            <% temp_params.delete(row.value.to_s) %>
            <strong><%= Department.find(row.value).name %></strong> (<%= link_to "remove", params.except(:page).merge({:doc_info => params[:doc_info].merge({:department => temp_params})}) %>)
          <% else %>
            <%= link_to Department.find(row.value).name, params.except(:page).merge({:doc_info => params[:doc_info].merge({:department => temp_params.push(row.value)})}) %> (<%= row.count %>)
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <h3 class="facet_title">Defense Year</h3>

    <% if params[:doc_info].blank? or params[:doc_info][:defense_year].blank? %>
      <ul style="display:none" >
    <% else %>
      <ul>
    <% end %>
    <% for row in search.facet(:defense_year).rows.sort{|x, y| y.value <=> x.value} %>
      <li>
        <% if params[:doc_info].blank? %>
          <%= link_to row.value, params.except(:page).merge({:doc_info => {:defense_year => row.value}}) %> (<%= row.count %>)
        <% elsif !params[:doc_info].blank? and params[:doc_info][:defense_year].blank? %>
          <%= link_to row.value, params.except(:page).merge({:doc_info => params[:doc_info].merge({:defense_year => row.value})}) %> (<%= row.count %>)
        <% else %>
          <strong class="faceted" id="doc_info_defense_year" name="doc_info[defense_year]"><%= row.value %></strong> (<%= link_to "remove", params.except(:page).merge({:doc_info => params[:doc_info].merge({:defense_year => nil})}) %>)
        <% end %>
      </li>
    <% end %>
  </ul>

  <h3 class="facet_title">Release Year</h3>

    <% if params[:doc_info].blank? or params[:doc_info][:release_year].blank? %>
      <ul style="display:none" >
    <% else %>
      <ul>
    <% end %>
    <% for row in search.facet(:release_year).rows.sort{|x, y| y.value <=> x.value} %>
      <li>
        <% if params[:doc_info].blank? %>
          <%= link_to row.value, params.except(:page).merge({:doc_info => {:release_year => row.value}}) %> (<%= row.count %>)
        <% elsif !params[:doc_info].blank? and params[:doc_info][:release_year].blank? %>
          <%= link_to row.value, params.except(:page).merge({:doc_info => params[:doc_info].merge({:release_year => row.value})}) %> (<%= row.count %>)
        <% else %>
          <strong class="faceted" id="doc_info_release_year" name="doc_info[release_year]"><%= row.value %></strong> (<%= link_to "remove", params.except(:page).merge({:doc_info => params[:doc_info].merge({:release_year => nil})}) %>)
        <% end %>
      </li>
    <% end %>
  </ul>

  <% if isUserAdmin %>
    <h3 class="facet_title">Creation Year</h3>

      <% if params[:doc_info].blank? or params[:doc_info][:creation_year].blank? %>
        <ul style="display:none" >
      <% else %>
        <ul>
      <% end %>
      <% for row in search.facet(:creation_year).rows.sort{|x, y| y.value <=> x.value} %>
        <li>
          <% if params[:doc_info].blank? %>
            <%= link_to row.value, params.except(:page).merge({:doc_info => {:creation_year => row.value}}) %> (<%= row.count %>)
          <% elsif !params[:doc_info].blank? and params[:doc_info][:creation_year].blank? %>
            <%= link_to row.value, params.except(:page).merge({:doc_info => params[:doc_info].merge({:creation_year => row.value})}) %> (<%= row.count %>)
          <% else %>
            <strong class="faceted" id="doc_info_creation_year" name="doc_info[creation_year]"><%= row.value %></strong> (<%= link_to "remove", params.except(:page).merge({:doc_info => params[:doc_info].merge({:creation_year => nil})}) %>)
          <% end %>
        </li>
      <% end %>
    </ul>

    <h3 class="facet_title">Approval Year</h3>

      <% if params[:doc_info].blank? or params[:doc_info][:approval_year].blank? %>
        <ul style="display:none" >
      <% else %>
        <ul>
      <% end %>
      <% for row in search.facet(:approval_year).rows.sort{|x, y| y.value <=> x.value} %>
        <li>
          <% if params[:doc_info].blank? %>
            <%= link_to row.value, params.except(:page).merge({:doc_info => {:approval_year => row.value}}) %> (<%= row.count %>)
          <% elsif !params[:doc_info].blank? and params[:doc_info][:approval_year].blank? %>
            <%= link_to row.value, params.except(:page).merge({:doc_info => params[:doc_info].merge({:approval_year => row.value})}) %> (<%= row.count %>)
          <% else %>
            <strong class="faceted" id="doc_info_approval_year" name="doc_info[approval_year]"><%= row.value %></strong> (<%= link_to "remove", params.except(:page).merge({:doc_info => params[:doc_info].merge({:approval_year => nil})}) %>)
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

   <h3 class="facet_title">File Type</h3>

    <% if params[:doc_info].blank? or params[:doc_info][:file_type].blank? %>
      <ul style="display:none" >
    <% else %>
      <ul>
    <% end %>
    <% for row in search.facet(:file_type).rows %>
      <li>
        <% if params[:doc_info].blank? %>
          <%= link_to row.value, params.except(:page).merge({:doc_info => {:file_type => row.value}}) %> (<%= row.count %>)
        <% elsif !params[:doc_info].blank? and params[:doc_info][:file_type].blank? %>
          <%= link_to row.value, params.except(:page).merge({:doc_info => params[:doc_info].merge({:file_type => row.value})}) %> (<%= row.count %>)
        <% else %>
          <% if params[:doc_info][:file_type] == row.value %>
            <strong class="faceted" id="doc_info_file_type" name="doc_info[file_type]"><%= row.value %></strong> (<%= link_to "remove", params.except(:page).merge({:doc_info => params[:doc_info].merge({:file_type => nil})}) %>)
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
  </div>
<% end %>