<% if !@search.nil? %>
  <div id="facets" class="clear_left">
    <h3 class="facet_title">Author</h3>
    <ul <% if params[:author].blank? %>
          style="display:none"
        <% end %>> 
      <% for row in search.facet(:author).rows %>
        <li>
          <% if params[:author].blank? %>
            <%= link_to row.value, params.merge({:author => row.value}) %> (<%= row.count %>)
          <% else %>
            <strong><%= row.value %></strong> (<%= link_to "remove", params.merge({:author => nil}), :class => 'faceted' %>)
          <% end %>
        </li>
      <% end %>
    </ul>
    <h3 class="facet_title">Document Type</h3>
    <ul <% if params[:document_type_id].blank? %>
          style="display:none"
        <% end %>> 
      <% for row in search.facet(:document_type_id).rows %>
        <li>
          <% if params[:document_type_id].blank? %>
            <%= link_to DocumentType.find(row.value).name, params.merge({:document_type_id => row.value}) %> (<%= row.count %>)
          <% else %>
            <strong><%= DocumentType.find(row.value).name %></strong> (<%= link_to "remove", params.merge({:document_type_id => nil}) %>)
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>