<%= stylesheet_link_tag 'paginate' %>
<%= stylesheet_link_tag 'advanced_search' %>
<%= stylesheet_link_tag 'facets' %>
<h1>Advanced Search</h1>
<div id = "advance_search" class = "top_bar">
	<%= render '/search/advanced_options_box' %>
</div>
<div id="page_pref" class="top_bar"> 
	<%= form_tag search_index_path, :id => 'page_pref_form', :method => 'get' do %> 
  Results Per Page: <%= select_tag :per_page, options_for_select(%w[10 20 50 100], @per_page),
         :onchange => "submit_form()" %>
         <%= hidden_field_tag :adv_search, params[:adv_search] %>
         <% if !params[:search_using].blank? %>
           <% params[:search_using].each do |k, v| %>
              <%= hidden_field_tag "search_using[#{k}]", v, :class => 'pref_removable' %>
           <%end%>
         <%end%>
  <% end %>
</div>

<!-- Render the facets -->
<%= render '/shared/facets', :search => @search %>

<div id="results">
<% if @result == "no_search" %>
  <!-- Render nothing below search params if they haven't searched anything -->
<% elsif @result == "exception" %>
  <h3 class="clear_left"> Could Not Complete Request - <%= @exception_message %> </h3>
<% elsif @result == "none_found" %>
  <br>
  <br>
  <h3 class="clear_left"> No Records Found </h3>
<% else %>
  <% if !@results_info.blank? %>
  <h5 id="total" class="clear_left"><%= @results_info %></h5>
  <% end %>
  <div id="paginate_outer">
    <div id="paginate_inner">
      <%= will_paginate @result %>
    </div>
    <div class="clear"></div>
  </div>
  <div id="results_list" >
    <% i = 1 %>
    <% @search.each_hit_with_result do |hit, etd| %>
      <% if i == @result.size %>
        <!-- Avoid border on bottom -->
        <div class="list_entry_last">
      <% else %>
        <div class="list_entry">
      <% end %>
        <%= render '/shared/display_etd', :etd => etd, :iteration => i %>
        <!-- For now block mixed results from showing text blurbs for anyone but admins, zip files are indexed as one
             and permissions for mixed change by ETD.  No way of knowing what should/shouldn't be shown. -->
        <% if !hit.highlight(:etd_attachment).nil? and 
              ((etd.availability.name.eql?('Unrestricted') or etd.availability.name.eql?('Restricted')) or 
              ((etd.people.include?(current_person) and etd.availability.name.eql?('Withheld')) or isUserAdmin)) 
              %>
          <% highlighted = hit.highlight(:etd_attachment).format { |fragment| content_tag(:em, fragment) } %>
          <p class="etd_fulltext"><%= "\"#{highlighted}\"".html_safe %></p>
        <% end %>
        </div>
      <% i += 1 %>
    <% end %>
  </div>
  <br />
  <div id="paginate_outer">
    <div id="paginate_inner">
      <%= will_paginate @result %>
    </div>
    <div class="clear"></div>
  </div>
<% end %>
<br />
</div>