<%= stylesheet_link_tag 'paginate' %>
<%= javascript_include_tag 'adv_search' %>
<h1>Advanced Search</h1>
<div id = "advance_search" class = "top_bar"> 
	<%= form_tag search_index_path, :id => 'search_check_form', method: :get do %>
	  <%= text_field_tag :adv_search, params[:adv_search], :placeholder => 'Search' %>
	  <%= submit_tag "Search", name: nil %>
    <div id = "options_list" >
      <table class="options_table">
        <% @checkbox_options.each do |key, display_name| %>
          <tr>
            <td><%= label_tag display_name %>:</td>
            <td>
              <% if params[:search_using].nil? or (!params[:search_using][key].blank?) %>
                <%= check_box_tag "search_using[#{key}]", 1, true %>
              <% else %>
                <%= check_box_tag "search_using[#{key}]", 1 %>
              <% end %>
            </td>
          </tr>
        <% end %> 
    </table>
  </div>
	  <%= hidden_field_tag :per_page, params[:per_page] %>
	<% end %>
	<br>
</div>
<div id="page_pref" class="top_bar"> 
	<%= form_tag search_index_path, :id => 'page_pref_form', :method => 'get' do %> 
  Results Per Page: <%= select_tag :per_page, options_for_select(%w[10 20 50 100], @per_page),
         :onchange => "submit_form()" %>
         <%= hidden_field_tag :adv_search, params[:adv_search] %>
         <% if !params[:search_using].blank? %>
           <% params[:search_using].each do |k, v| %>
              <%= hidden_field_tag "search_using[#{k}]", v, :class => 'pref_removable' %>
           <%end%>
         <%end%>
  <% end %>
</div>
<% if @no_search %>
  <!-- Render nothing below search params if they haven't searched anything -->
<% elsif @etds.blank? %>
  <br>
  <br>
  <h3 class="clear_left"> No Records Found </h3>
<% else %>
  <%= will_paginate @etds %>
  <table class="clear_left">
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Department</th>
    </tr>

  <br />
  <% @etds.each do |etd| %>
    <% creators = Person.where(id: etd.people_roles.where(role_id: Role.where(group: 'Creators')).pluck(:person_id)).order('last_name ASC') %>
    <tr>
      <td><%= creators.map { |o| o.name } .join(", ") %></td>
      <td><%= etd.title %></td>
      <td><%= etd.departments.pluck(:name).join(", ") %></td>
      <td><%= link_to 'Show', etd %></td>
      <td><%= link_to 'Edit', edit_etd_path(etd) %></td>
      <td><%= button_to 'Destroy', destroy_etd_path(etd), data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>

  </table>
  <br />
  <%= will_paginate @etds %>
<% end %>
<br />