<table border>
<p>
  <tr><th>Filename:</th>  <th>Types:</th> <th>Size:</th> <th>Availability:</th> <th>Bound:</th></tr>

<% @contents.each do |content| %>
  <tr><td><%=h content.filename %></td><td> <%=h content.types %></td><td><%=h content.size %></td> <td><%=h content.availability %></td> <td><%=h content.bound %></td>
<td><%= link_to 'Delete This Files', url_for(:controller => :submit, :action => :delete_files , :id => content.id)%></td></tr>
<%end%>
</p>
</table>
