<h1><%= @conv.subject %></h1>
<% if !@conv.model.nil? %>
<p>
  About <%= link_to("#{@conv.model_type} #{@conv.model_id}", @conv.model) %>.
</p>
<% end %>
<p>
  Participants: <%= @conv.participants.map { |o| o.name } .join('; ') %>
</p>

<% @messages.each do |message| %>
<p>
  <b>From: <%= message.sender.name %></b><br />
  <%= message.msg %>
</p>
<% end %>

<br />
<%= link_to 'Mark as Unread', unread_conversation_path(@conv) %> |
<%= link_to 'Reply', reply_to_conversation_path(@conv) %> |
<%= link_to 'Back', conversations_path %>
