<h1>Admin Main</h1>

<%= link_to 'Add user', url_for(:action=> :add_user) %>
<%= link_to 'Show user', url_for(:action=> :show_user) %>
<%= link_to 'Add role', url_for(:action=> :add_role) %>
<%= link_to 'Show role', url_for(:action=> :show_role) %>
<%= link_to 'Add permission', url_for(:action=> :add_permission) %>
<%= link_to 'Show permission', url_for(:action=> :show_permission) %>
