<% for etd in @etd %>
<h1>Title page for ETD <%= h etd.id %></h1>
<table border=2 >
<tr>
<p>
  <th>Typle of Document</th>
  <td><%=h etd.dtype %></td>
</p>
</tr>
<tr>
<p>
  <th>Author</th>
  <td><%=h etd.people.find(:first).first_name %> <%=h etd.people.find(:first).middle_name %> <%=h etd.people.find(:first).last_name %></td>
</p>
</tr>
<tr>
<p>
  <th>URN</th>
  <td><%=h etd.id %></td>
</p>
</tr>
<tr>
<p>
  <th>Title</th>
  <td><%=h etd.title %></td>
</p>
</tr>
<tr>
<p>
  <th>Degree</th>
  <td><%=h etd.degree %></td>
</p>
</tr>
<tr>
<p>
  <th>Department</th>
  <td><%=h etd.department %></td>
</p>
</tr>
<tr>
<p>
  <th>Abstract</th>
  <td><%= etd.abstract %></td>
</p>
</tr>
<tr>
<th>Files</th>
<td>
  <table cellspacing=3 cellpadding=3 border=2> 
     <tr bgcolor="#cccccc"> 
     <th rowspan=2 colspan=2>&nbsp;&nbsp;Filename&nbsp;&nbsp;</th> 
     <th rowspan=2>&nbsp;&nbsp;&nbsp;&nbsp;Size&nbsp;&nbsp;&nbsp;&nbsp;</th> 
     <th colspan=6>&nbsp;&nbsp;Approximate Download Time 
     (Hours:Minutes:Seconds)&nbsp;<br>&nbsp;</th> 
     </tr> 
 
     <tr> 
     <th bgcolor="#99cccc">&nbsp;28.8 Modem&nbsp;</th> 
    <th bgcolor="#ccffff">&nbsp;56K Modem&nbsp;</th> 
     <th bgcolor="#99cccc">&nbsp;ISDN (64 Kb)&nbsp;</th> 
     <th bgcolor="#ccffff">&nbsp;ISDN (128 Kb)&nbsp;</th> 
     <th bgcolor="#99cccc">&nbsp;Higher-speed Access&nbsp;</th> 
     </tr> 
<% for content in @contents %>
       <tr align=center> 
<td>&nbsp;</td> 
<td align=left><%=link_to content.filename,"http://scholar.lib.vt.edu/theses/available/#{etd.urn}/#{content.availability}/#{content.filename}" %></td> 
<td>19.82 Kb</td> 
<td bgcolor="#cccccc">00:00:05</td> 
<td>00:00:02</td> 
<td bgcolor="#cccccc">00:00:02</td> 
<td>00:00:01</td> 
<td bgcolor="#cccccc">&lt; 00:00:01</td> 
</tr> 
<%end%>
</table>
</td>
</tr>
</table>
<% end %>

