<h3>Change Availability</h3>


Use the form below to change the availability of this ETD. Note that all availability information for any files already associated with this ETD will be set to the new value.

If you are changing the availability of this ETD to allow parts to be accessible worldwide while others are restricted to Virginia Tech access or completely withheld from the web-based collection (option 4), you will be prompted to assign availability information for individual files once the status of the ETD has been changed.

<hr width=90%> 
<% form_for @etd, :url=>{:action=>:show_etd, :id =>@etd.id } do |f|%> 
<%= f.hidden_field :urn, :value => @etd.urn %> 
<table width=90%> 
<tr> 
<td valign=top> 
<%= f.radio_button :availability, :unrestricted %> 
</td> 
<td valign=top>1.</td> 
<td valign=top>Release the entire work immediately for access worldwide.</td> 
</tr> 
<tr> 
<td valign=top> 
<%= f.radio_button :availability, :restricted %>  
</td> 
<td valign=top>2.</td> 
<td valign=top>Release the entire work for Virginia Tech access only.</td> 
</tr> 
<tr> 
<td valign=top> 
<%= f.radio_button :availability, :withheld %>  
</td> 
<td valign=top>3.</td> 
<td valign=top>Secure the entire work for patent and/or proprietary purposes for a period of one year. During this period the copyright owner also agrees not to exercise her/his ownership rights, including public use in works, without prior authorization from Virginia Tech. At the end of the one year period, either we or Virginia Tech may request an automatic extension for one additional year. At the end of the one year secure period (or its extension, if such is requested), the work will be handled under option 1 above, unless we request option 2 or 4 in writing.</td> 
</tr> 
<tr> 
<td valign=top> 
<%= f.radio_button :availability, :mixed %>  
</td> 
<td valign=top>4.</td> 
<td valign=top>Release the entire work for Virginia Tech access only, while at the same time releasing parts of the work for worldwide access. Parts of the work may also be completely withheld from access.(You will be asked at a later point to specify the availability of each file you submit.)  <a href="/ETD-db/help/#mixed_availability">More information about &quot;mixed&quot; availability (option 4).</a></td> 
</tr> 
 
 
<tr> 
<td colspan=3 align=right> 
<%= f.submit 'Change Availability'%> 
<% end %>
</td> 
</tr> 
</table> 

