<h1>Entering ETD information</h1>

<%= form_for @etd, :url=> {:action=>:show_etd, :id => @etd.id} do |f| %>
  <p>
    <%= f.label :degree %><br />
    <%= f.text_field :degree %>
  </p>
  <p>
    <%= f.label :department %><br />
    <%= f.text_field :department %>
  </p>
  <p>
    <%= f.label :dtype %><br />
    <%= f.text_field :dtype %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_area :title %>
  </p>
  <p>
    <%= f.label :abstract %><br />
    <%= f.text_area :abstract %>
  </p>
  <p>
    <%= f.label :availability %><br />
    <%= f.text_field :availability %>
  </p>
  <p>
    <%= f.label :availability_description %><br />
    <%= f.text_area :availability_description %>
  </p>
  <p>
    <%= f.label :copyright_statement %><br />
    <%= f.text_area :copyright_statement %>
  </p>
  <p>
    <%= f.label :ddate %><br />
    <%= f.date_select :ddate %>
  </p>
  <p>
    <%= f.label :sdate %><br />
    <%= f.date_select :sdate %>
  </p>
  <p>
    <%= f.label :adate %><br />
    <%= f.date_select :adate %>
  </p>
  <p>
    <%= f.label :cdate %><br />
    <%= f.date_select :cdate %>
  </p>
  <p>
    <%= f.label :rdate %><br />
    <%= f.date_select :rdate %>
  </p>
  <p>
    <%= f.label :pid %><br />
    <%= f.text_field :pid %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :timestamp %><br />
    <%= f.datetime_select :timestamp %>
  </p>
  <p>
    <%= f.label :bound %><br />
    <%= f.text_field :bound %>
  </p>
  <p>
    <%= f.submit 'Update'%>
  </p>
<% end %>

<% form_for(@author) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :pid %><br />
    <%= f.text_field :pid %>
  </p>
  <p>
    <%= f.label :suffix %><br />
    <%= f.text_field :suffix %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>

<% end %>

<!--<%= link_to 'Show', @etd %>-->
<%= link_to 'View', url_for(:controller => :submit, :action => :show_etd, :id => @etd.id) %>
 |
<!--<%= link_to 'Back', etds_path %> -->
<%= link_to 'Back', url_for(:controller => :submit, :action => :index_etd)  %>

