<h2> <%=h @author.pid%>'s ETD</h2>
<p>
  <b>Degree:</b>
  <%=h @etd.degree %>
</p>

<p>
  <b>Department:</b>
  <%=h @etd.department %>
</p>

<p>
  <b>Dtype:</b>
  <%=h @etd.dtype %>
</p>

<p>
  <b>Title:</b>
  <%=h @etd.title %>
</p>

<p>
  <b>Abstract:</b>
  <%=h @etd.abstract %>
</p>

<p>
  <b>Availability:</b>
  <%=h @etd.availability %> <%= link_to "Change the availability of your ETD", url_for(:action => :change_availability, :id=> @etd.id) %>
</p>


<p>
  <b>Ddate:</b>
  <%=h @etd.ddate %>
</p>

<p>
  <b>Sdate:</b>
  <%=h @etd.sdate %>
</p>
<!--
<p>
  <b>Adate:</b>
  <%=h @etd.adate %>
</p>

<p>
  <b>Cdate:</b>
  <%=h @etd.cdate %>
</p>

<p>
  <b>Rdate:</b>
  <%=h @etd.rdate %>
</p>


<p>
  <b>Url:</b>
  <%=h @etd.url %>
</p>
-->
<p>
  <b>Timestamp:</b>
  <%=h @etd.timestamp %>
</p>

<p>
  <b>Bound:</b>
  <%=h @etd.bound %>
</p>
<%= link_to 'Back', url_for(:controller => :submit, :action => :show_etds_by_author, :user_id=> @author.pid)  %> <br>

<%= link_to 'View Committee Members', url_for(:controller => :submit, :action => :view_committee, :id => @etd.id) %> |
<%= link_to 'Add Committee Members', url_for(:controller => :submit, :action => :add_committee, :id => @etd.id) %>  <br>
<%= link_to 'View Files', url_for(:controller => :submit, :action => :show_files, :id => @etd.id) %> |
<%= link_to 'Add Files', url_for(:controller => :submit, :action => :add_files, :id => @etd.id) %>  

