<% if !search.nil? %>
  <div id="facets" class="clear_left">
    <h3 class="facet_title">Author</h3>
    <ul <% if params[:author].blank? %>
          style="display:none"
        <% end %>> 
      <% for row in search.facet(:author).rows %>
        <li>
          <% if params[:author].blank? %>
            <%= link_to row.value, params.merge({:author => row.value}) %> (<%= row.count %>)
          <% else %>
            <strong><%= row.value %></strong> (<%= link_to "remove", params.merge({:author => nil}) %>)
          <% end %>
        </li>
      <% end %>
    </ul>
    <h3 class="facet_title">Document Type</h3>

    <% if params[:doc_info].blank? or params[:doc_info][:document_type_id].blank? %>
      <ul style="display:none" >
    <% else %>
      <ul>
    <% end %>
    <% for row in search.facet(:document_type_id).rows %>
      <% if !DocumentType.exists?(:id => row.value) %>
        <% next %>
      <% end %>
      <li>
        <% if params[:doc_info].blank? %>
          <%= link_to DocumentType.find(row.value).name, params.except(:page).merge({:doc_info => {:document_type_id => row.value}}) %> (<%= row.count %>)
        <% elsif params[:doc_info][:document_type_id].blank? %>
          <%= link_to DocumentType.find(row.value).name, params.except(:page).merge({:doc_info => params[:doc_info].merge({:document_type_id => row.value})}) %> (<%= row.count %>)
        <% else %>
          <%= content_tag(:strong, DocumentType.find(row.value).name, {:class=>"faceted_if_no_dropdown", :id=>row.value, :name=>"doc_info[document_type_id]"}) %> (<%= link_to "remove", params.except(:page).merge({:doc_info => params[:doc_info].merge({:document_type_id => nil})}) %>)
        <% end %>
      </li>
    <% end %>
  </ul>

    <h3 class="facet_title">Department</h3>

    <% if params[:doc_info].blank? or params[:doc_info][:department].blank? or params[:doc_info][:department].eql?([''])  %>
      <ul style="display:none" >
    <% else %>
      <ul>
    <% end %>
    <% for row in search.facet(:department).rows.sort{|x, y| Department.find_by_id(x.value).name <=> Department.find_by_id(y.value).name} %>
      <% if !Department.exists?(:id => row.value) %>
        <% next %>
      <% end %>
      <li>
        <% if params[:doc_info].blank? %>
          <%= link_to Department.find(row.value).name, params.except(:page).merge({:doc_info => {:department => [row.value]}}) %> (<%= row.count %>)
        <% elsif params[:doc_info][:department].blank? %>
          <%= link_to Department.find(row.value).name, params.except(:page).merge({:doc_info => params[:doc_info].merge({:department => [row.value]})}) %> (<%= row.count %>)
        <% else %>
          <%# Something exists in params[:doc_info][:department] %>
          <% temp_params = Array.new(params[:doc_info][:department]) %>
          <% if params[:doc_info][:department].include?(row.value.to_s) %>
            <% temp_params.delete(row.value.to_s) %>
            <%=content_tag(:strong, Department.find(row.value).name, {:class=>"multi_selectable", :id=>row.value, :name=>"doc_info[department][]"})%> (<%= link_to "remove", params.except(:page).merge({:doc_info => params[:doc_info].merge({:department => temp_params})}) %>)
          <% else %>
            <%= link_to Department.find(row.value).name, params.except(:page).merge({:doc_info => params[:doc_info].merge({:department => temp_params.push(row.value)})}) %> (<%= row.count %>)
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <h3 class="facet_title">Defense Year</h3>
  <%= render '/shared/facets_regular_display', :search=>search, :facet_type=>:defense_year %>

  <h3 class="facet_title">Release Year</h3>
  <%= render '/shared/facets_regular_display', :search=>search, :facet_type=>:release_year %>

  <% if isUserAdmin %>
    <h3 class="facet_title">Creation Year</h3>
    <%= render '/shared/facets_regular_display', :search=>search, :facet_type=>:approval_year %>

    <h3 class="facet_title">Approval Year</h3>
    <%= render '/shared/facets_regular_display', :search=>search, :facet_type=>:approval_year %>
  <% end %>

  <h3 class="facet_title">File Type</h3>
  <%= render '/shared/facets_regular_display', :search=>search, :facet_type=>:file_type %>

  </div>
<% end %>