<%= stylesheet_link_tag 'paginate' %>
<h1 style="float:left;">Listing departments</h1>
<div id="page_pref" class ="top_bar" style="margin-top:28px">
  <%= form_tag departments_path, :method => 'get' do %>
    Results Per Page: <%= select_tag :per_page, options_for_select(%w[10 20 50 100], @per_page),
         :onchange => "this.form.submit();" %>
  <% end %>
</div>
<%= will_paginate @departments %>
</br>
<table style="clear: both;">
  <tr>
    <th>Name</th>
    <th>Retired?</th>
  </tr>

<% @departments.each do |department| %>
  <tr>
    <td><%=h department.name %></td>
    <td><%=h department.retired %></td>
    <td><%= link_to 'Show', department %></td>
    <td><%= link_to 'Edit', edit_department_path(department) %></td>
    <td><%= button_to 'Destroy', destroy_department_path(department), data: {confirm: 'Are you sure?'} %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New department', new_department_path %>
