<h1>Listing reasons</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Months Until Warning</th>
    <th>Months Until Release</th>
  </tr>

<% @reasons.each do |reason| %>
  <tr>
    <td><%= reason.name %></td>
    <td><%= reason.description %></td>
    <% if reason.months_to_warning > 0 %>
        <td><%= reason.months_to_warning %></td>
    <% else %>
      <% if reason.months_to_warning < 0 %>
        <td>Never</td>
      <% else %>
        <td>Immediately</td>
      <% end %>
    <% end %>
    <% if reason.months_to_release > 0 %>
        <td><%= reason.months_to_release %></td>
    <% else %>
      <% if reason.months_to_release < 0 %>
        <td>Never</td>
      <% else %>
        <td>Immediately</td>
      <% end %>
    <% end %>
    <td><%= link_to 'Show', reason %></td>
    <td><%= link_to 'Edit', edit_reason_path(reason) %></td>
    <td><%= link_to 'Destroy', reason, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New Reason', new_reason_path %>
