<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Months Until Warning</th>
    <th>Months Until Release</th>
    <th>Warn Before Approval?</th>
  </tr>
  <tr>
    <td><%= @reason.name %></td>
    <td><%= @reason.description %></td>
    <% if @reason.months_to_warning > 0 %>
      <td><%= @reason.months_to_warning %></td>
    <% elsif @reason.months_to_warning < 0 %>
      <td>Never</td>
    <% else %>
      <td>Immediately</td>
    <% end %>
    <% if @reason.months_to_release > 0 %>
      <td><%= @reason.months_to_release %></td>
    <% elsif @reason.months_to_release < 0 %>
      <td>Never</td>
    <% else %>
      <td>Immediately</td>
    <% end %>
  </tr>
</table>

<%= link_to 'Edit', edit_reason_path(@reason) %> |
<%= link_to 'Back', reasons_path %>
