<%= form_for(@provenance) do |f| %>
  <% if @provenance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provenance.errors.count, "error") %> prohibited this provenance from being saved:</h2>

      <ul>
      <% @provenance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id, "Person" %><br />
    <%= f.text_field :person_id %>
  </div>
  <div class="field">
    <%= f.label :action %><br />
    <%= f.text_field :action %>
  </div>
  <div class="field">
    <%= f.label :model_type %><br />
    <%= f.text_field :model_type %>
  </div>
  <div class="field">
    <%= f.label :model_id %><br />
    <%= f.text_field :model_id %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
