<%= form_for(@provenance) do |f| %>
  <% if @provenance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provenance.errors.count, "error") %> prohibited this provenance from being saved:</h2>

      <ul>
      <% @provenance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :creator %><br />
    <%= f.text_field :creator %>
  </div>
  <div class="field">
    <%= f.label :notice %><br />
    <%= f.text_field :notice %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
