<p>
  <%= link_to(get_name(@provenance.person), person_path(@provenance.person)) %> <%= @provenance.action %>
  <%= link_to("#{@provenance.model_type} #{@provenance.model_id}", @provenance.model) %> at <%= @provenance.created_at.strftime("%H:%M:%S on %b %d %Y") %>
</p>
<p>
  <%= @provenance.message %>
</p>
<%= link_to 'Edit', edit_provenance_path(@provenance) %> |
<%= link_to 'Back', provenances_path %>
