<h1>Change File Availability</h1>
<table border="2">
<tr><th>Filename</th> 	<th>Size (bytes)</th> 	<th>Availability</th></tr>
<%= form_for @etd, :url=>{:action=>:show_files} do |f| %>
<%=h hidden_field_tag 'id', @etd.id %>
<% @etd.contents.find(:all).each do |content| %>
<%= f.fields_for @contents do |cf| %>
<tr><td><%=h content.filename %></td> 	
<td><%=h content.size%></td>
<td><%#=h content_form.label :availability %>
<%=h hidden_field_tag "etd[contents_attributes][#{content.id}][id]", content.id %>
<%=h radio_button_tag "etd[contents_attributes][#{content.id}][#{:availability}]", :unrestricted, content.availability == 'unrestricted' %>unrestricted
<%=h radio_button_tag "etd[contents_attributes][#{content.id}][#{:availability}]", :restricted, content.availability == 'restricted' %>restricted
<%=h radio_button_tag "etd[contents_attributes][#{content.id}][#{:availability}]", :withheld,content.availability == 'withheld' %>withheld
</td></tr>
<% end %>
<% end %>
<tr>
<td/><td/><td align="right">
<%= f.submit 'Modify file availability'%>
</td>
</tr>
<% end %>
</table>
The following are descriptions of the availability options that can be assigned to each file.
<ul>
<li>
    <h3>unrestricted</h3>
    <p>Release the entire work immediately for access worldwide.</p>
</li>
<li>
    <h3>restricted</h3>
    <p>Release the entire work for Virginia Tech access only.</p>
</li>
<li>
    <h3>withheld</h3>
    <p>Secure the entire work for patent and/or proprietary purposes for a period of one year. During this period the copyright owner also agrees not to exercise her/his ownership rights, including public use in works, without prior authorization from Virginia Tech. At the end of the one year period, either we or Virginia Tech may request an automatic extension for one additional year. At the end of the one year secure period (or its extension, if such is requested), the work will be handled under option 1 above, unless we request option 2 or 4 in writing.</p>
</li>
</ul>