<%= stylesheet_link_tag 'paginate' %>
<h1 style="float:left;">Listing degrees</h1>
<div id="page_pref" class ="top_bar" style="margin-top:28px">
  <%= form_tag degrees_path, :method => 'get' do %>
    Results Per Page: <%= select_tag :per_page, options_for_select(%w[10 20 50 100], @per_page),
         :onchange => "this.form.submit();" %>
  <% end %>
</div>
<%= will_paginate @degrees %>
<table style="clear: both;">
  <tr>
    <th>Name</th>
    <th>Retired?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @degrees.each do |degree| %>
  <tr>
    <td><%= degree.name %></td>
    <td><%= degree.retired %></td>
    <td><%= link_to 'Show', degree %></td>
    <td><%= link_to 'Edit', edit_degree_path(degree) %></td>
    <td><%= button_to 'Destroy', destroy_degree_path(degree), data: {confirm: 'Are you sure?'} %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Degree', new_degree_path %>
