<h1>Editing copyright_statement</h1>

<%= form_for(@copyright_statement) do |f| %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @copyright_statement %> |
<%= link_to 'Back', copyright_statements_path %>