<h1>Listing copyright_statements</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Retired?</th>
  </tr>

<% @copyright_statements.each do |copyright_statement| %>
  <tr>
    <td><%=h copyright_statement.statement %></td>
    <td><%=h copyright_statement.retired %></td>
    <td><%= link_to 'Show', copyright_statement %></td>
    <td><%= link_to 'Edit', edit_copyright_statement_path(copyright_statement) %></td>
    <td><%= button_to 'Destroy', destroy_copyright_statement_path(copyright_statement), data: {confirm: 'Are you sure?'} %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New copyright_statement', new_copyright_statement_path %>
