<h1>Editing Permissions</h1>

<%= form_tag do %>
  <% for a_role in @roles %>
    <p><b> <%= a_role.name.humanize %> </b>
    <table border="1">
      <tr>
        <td>
          Digital Objects\Actions
        </td>
        <% for an_action in @actions %>
          <td>
            <%= an_action.name.humanize %>
          </td>
        <% end %>
      </tr>
      <% for a_digital_object in @digital_objects %>
        <tr>
          <td>
            <%= a_digital_object.name.humanize %>
          </td>
          <% for an_action in @actions %>
            <% checked = Permission.exists?(:user_action_id => an_action.id, :role_id => a_role.id, :digital_object_id => a_digital_object.id) %>
            <td>
              <%= check_box :perms, "#{a_role.id}_#{a_digital_object.id}_#{an_action.id}", {:checked => checked}, true, false%>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    </p>
    <br />
  <% end %>
  <%= submit_tag "Update Permissions" %>
<% end %>


<p><%= link_to 'Back', permissions_path %></p>
