<%= form_for @etd do |f| %>
  <% if @etd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@etd.errors.count, "error") %> prohibited this ETD from being saved:</h2>

      <ul>
      <% @etd.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label(:document_type_id, "Document Type") %><br />
    <%= f.collection_select(:document_type_id, DocumentType.where(retired: false), :id, :name) %>
  </div>
  <div class="field">
    <%= f.label(:title) %><br />
    <%= f.text_field(:title) %>
  </div>
  <div class="field">
    <%= f.label(:degree_id, "Degree") %><br />
    <%= f.collection_select(:degree_id, Degree.where(retired: false), :id, :name) %>
  </div>
  <div class="field">
    <%= f.label(:department_ids, "Departments") %><br />
    <%= f.fields_for :department_ids do |df| %>
      <%= df.collection_select(:id_1, Department.where(retired: false), :id, :name, {selected: @etd.department_ids[0]}) %><br />
      <%= df.collection_select(:id_2, Department.where(retired: false), :id, :name, {selected: @etd.department_ids[1], prompt: "I do not have a second department."}) %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label(:keywords) %><br />
    <%= f.text_area(:keywords, rows: 5) %>
  </div>
  <div class="field">
    <%= f.label(:ddate, "Defense Date") %><br />
    <%= f.date_select(:ddate, {end_year: Time.now.year}) %>
  </div>
  <div class="field">
    <%= label_tag("Availability") %>
    <table>
      <% for avail in Availability.where(retired: false) do %>
        <tr>
          <td valign='top'><%= radio_button_tag(:availability_id, avail.id) %></td>
          <td valign='top' align='right'><%= avail.name %>:</td>
          <td valign='top'><%= avail.description %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="field">
    <%= f.label(:abstract) %><br />
    <%= f.text_area(:abstract) %>
  </div>
  <div class="field">
    <%= CopyrightStatement.where(retired: false).last.statement %><br />
    <%= f.check_box(:copyright_statement_id, {}, CopyrightStatement.where(retired: false).last.id, nil)%>
    <%= f.label(:copyright_statement_id, "I have read the above and agreed to it.")%>
  </div>
  <div class="field">
    <%= PrivacyStatement.where(retired: false).last.statement %><br />
    <%= f.check_box(:privacy_statement_id, {}, CopyrightStatement.where(retired: false).last.id, nil)%>
    <%= f.label(:privacy_statement_id, "I have read the above and agreed to it.")%>
  </div>

  <%= f.hidden_field(:bound, {value: false}) %>
  <%= f.submit %>
<% end %>
