<h1>Add Contents to ETD</h1>
<%= nested_form_for @etd, url: save_contents_to_etd_path(@etd), html: {multipart: true} do |f| %>
  <%= f.fields_for :contents do |cf| %>
    <% unless cf.object.content? %>
      <% #This is new content %>
      <%= cf.file_field :content %>
      <%= cf.hidden_field(:bound, {value: @etd.bound}) %>
      <% if @etd.availability.etd_only %>
        <%= cf.hidden_field(:availability_id, {value: Availability.where(retired: false, etd_only: false).first.id}) %>
        <%= cf.hidden_field(:reason_id, {value: Availability.where(retired: false, etd_only: false).first.reason.id}) %>
      <% else %>
        <%= cf.hidden_field(:availability_id, {value: @etd.availability_id}) %>
        <%= cf.hidden_field(:reason_id, {value: @etd.reason_id}) %>
      <% end %>
      <%= cf.link_to_remove "Remove"%>
    <% end %>
  <% end %>
  <%= f.link_to_add "Add more content", :contents %><br />
  <%= f.submit "Update Content" %>
<% end %>
<br />
<%= link_to 'View ETD', @etd %>
</p>
