<h1>Find Person</h1>
<div>
 <p>Not the author? Search for them and add them to this ETD.</p>
<%= form_tag(find_person_for_etd_path(@etd), id: "person_search") do %>
  <%= label_tag(:name, "Person's Name") %>:
  <%= text_field_tag(:name) %>
  <%= hidden_field_tag(:role_group, 'Creators') %>
  <br />
  <%= submit_tag("Find") %>
<% end %>
</div>
<br />
<div>
  <p>If you are the author, you don't have to search for yourself, just click the button below.</p>
<%= form_tag(save_person_to_etd_path(@etd), id: 'save_person') do %>
  <%= hidden_field_tag(:role_id, Role.where(group: 'Creators').first.id) %>
  <%= hidden_field_tag(:candidate_id, current_person.id) %>
  <%= submit_tag('I am the author') %>
<% end %>
</div>
