<h1>Add Contents to ETD</h1>
<%= nested_form_for @etd, url: next_new_etd_path(@etd), html: {multipart: true} do |f| %>
  <%= f.fields_for :contents do |cf| %>
    <% if cf.object.content? %>
      <% #This content already exists %>
      <%= link_to(cf.object.content_file_name, content_path(cf.object)) %> |
      <!--<%= cf.object.content_content_type %> |-->
      <%= cf.object.content_file_size %> |
      <%= link_to "Edit", edit_content_path(cf.object)%> |
      <%= cf.link_to_remove "Delete" %>
    <% else %>
      <% #This is new content %>
      <%= cf.file_field :content %>
      <%= cf.hidden_field(:bound, {value: @etd.bound}) %>
      <%= cf.hidden_field(:availability_id, {value: @etd.availability_id}) %>
      <%= cf.link_to_remove "Remove"%>
    <% end %>
  <% end %>
  <%= f.link_to_add "Add more content", :contents %><br />
  <%= hidden_field_tag(:origin, '/etds/add_contents/') %>
  <%= f.submit "Update Content" %>
<% end %>
<br />
<%= link_to 'View ETD', @etd %>
</p>
