<h1>New ETD</h1>
<p>
  <%= form_tag do %>
    <%= label_tag(:person_id, "Author's id:") %>
    <%= text_field_tag(:person_id) %><br />
    <%= submit_tag('Add Author') %>
  <% end %>
</p>
<p>
  <%= form_tag do %>
    <%= hidden_field_tag(:person_id, current_person.id) %>
    <%= submit_tag('I am the author.') %>
  <% end %>
</p>

<p>
<%= link_to 'View ETD', @etd %>
</p>
