<h1>Find Person</h1>
<%= form_tag(find_person_for_etd_path(@etd), id: "person_search") do %>
  <%= label_tag(:name, "Person's Name") %>
  <%= text_field_tag(:name) %>
  <%= hidden_field_tag(:role_group, 'Creators') %>
  <%= submit_tag("Find") %>
<% end %>
