<h1>ETDs</h1>
<div id="special_search">
  <form>
    <input type="text" name="keywords" value="Search ETDs" />
    <input type="submit" value="Go" />
  </form>
  <br>
</div>

<table>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Department</th>
  </tr>

<% @etds.each do |etd| %>
  <% creators = Person.where(id: etd.people_roles.where(role_id: Role.where(group: 'Creators')).pluck(:person_id)).order('last_name ASC') %>
  <tr>
    <td><%= creators.map { |o| get_name(o) } .join(", ") %></td>
    <td><%= etd.title %></td>
    <td><%= etd.departments.pluck(:name).join(", ") %></td>
    <td><%= link_to 'Show', etd %></td>
    <td><%= link_to 'Edit', edit_etd_path(etd) %></td>
    <td><%= button_to 'Destroy', destroy_etd_path(etd), data: {confirm: 'Are you sure?'} %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New ETD', new_etd_path %>
