<h1>ETDs</h1>
<div id="special_search">
  <form>
    <input type="text" name="keywords" value="Search ETDs" />
    <input type="submit" value="Go" />
  </form>
  <br>
</div>

<table>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Department</th>
  </tr>

<% @etds.each do |etd| %>
  <% p = Person.find(etd.people_roles.where(role_id: Role.where(group: 'Creators').first).first.person_id) %>
  <tr>
    <td><%=h p.first_name + " " + p.last_name %></td>
    <td><%=h etd.title %></td>
    <td><%=h etd.departments.pluck(:name).join(", ") %></td>
    <td><%= link_to 'Show', etd %></td>
    <td><%= link_to 'Edit', edit_etd_path(etd) %></td>
    <td><%= button_to 'Destroy', destroy_etd_path(etd), :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ETD', new_etd_path %>
