<%= stylesheet_link_tag 'paginate' %>
<%= stylesheet_link_tag 'advanced_search' %>
<%= stylesheet_link_tag 'facets' %>
<h1>ETDs</h1>
<div id="special_search" class="top_bar">
  <%= form_tag etds_path, :method => 'get' do %>
    <%= text_field_tag :adv_search, params[:adv_search], :placeholder => 'Search ETDs' %>
    <%= submit_tag 'Go', :name => nil %>
    <%= hidden_field_tag :per_page, params[:per_page] %>
  <% end %>
  <br />
</div>
<div id="page_pref" class="top_bar">
  <%= form_tag etds_path, :id => 'page_pref_form', :method => 'get' do %>
    Results Per Page: <%= select_tag :per_page, options_for_select(%w[10 20 50 100], @per_page),
           :onchange => "submit_form()" %>
    <%= hidden_field_tag :adv_search, params[:adv_search] %>
    <% if !params[:search_using].blank? %>
      <% params[:search_using].each do |k, v| %>
        <%= hidden_field_tag "search_using[#{k}]", v, :class => 'pref_removable' %>
      <%end%>
    <%end%>
  <% end %>
</div>

<%= render '/shared/etd_list' %>