<h1>ETDs</h1>
<div id="search">
  <form>
    <input type="text" name="keywords" value="Search ETDs" />
    <input type="submit" value="Go" />
  </form>
  <br>
</div>

<% if person_signed_in? %>
  <div>
    <h3><%= link_to "My Etds", my_etds_path %></h3>
  </div>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Abstract</th>
  </tr>

<% @etds.each do |etd| %>
  <tr>
    <td><%=h etd.title %></td>
    <td><%=h etd.abstract %></td>
    <td><%= link_to 'Show', etd %></td>
    <td><%= link_to 'Edit', edit_etd_path(etd) %></td>
    <td><%= button_to 'Destroy', destroy_etd_path(etd), :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ETD', new_etd_path %>
