<%= stylesheet_link_tag 'paginate' %>
<h1>ETDs</h1>
<div id="special_search" class="top_bar">
  <%= form_tag etds_path, :method => 'get' do %> 
    <%= text_field_tag :keywords, params[:keywords], :placeholder => 'Search ETDs' %>
    <%= submit_tag 'Go', :name => nil %>
    <%= hidden_field_tag :per_page, params[:per_page] %>
  <% end %>
  <br>
</div>
  <div id="page_pref" class="top_bar">
    <%= form_tag etds_path, :method => 'get' do %> 
    Results Per Page: <%= select_tag :per_page, options_for_select(%w[10 20 50 100], @per_page),
           :onchange => "this.form.submit();" %>
           <%= hidden_field_tag :keywords, params[:keywords] %>
    <% end %>
  </div>
 <%= will_paginate %>
<table class="clear_left">
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Department</th>
  </tr>

<br />
<% @etds.each do |etd| %>
  <% creators = Person.where(id: etd.people_roles.where(role_id: Role.where(group: 'Creators')).pluck(:person_id)).order('last_name ASC') %>
  <tr>
    <td><%= creators.map { |o| o.name } .join(", ") %></td>
    <td><%= etd.title %></td>
    <td><%= etd.departments.pluck(:name).join(", ") %></td>
    <td><%= link_to 'Show', etd %></td>
    <td><%= link_to 'Edit', edit_etd_path(etd) %></td>
    <td><%= button_to 'Destroy', destroy_etd_path(etd), data: {confirm: 'Are you sure?'} %></td>
  </tr>
<% end %>

</table>
<br />
<%= will_paginate %>
<br />
<%= link_to 'New ETD', new_etd_path %>