<h1>ETDs</h1>
<div id="special_search">
  <form>
    <input type="text" name="keywords" value="Search ETDs" />
    <input type="submit" value="Go" />
  </form>
  <br>
</div>

<table>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Department</th>
  </tr>

<% @etds.each do |etd| %>
  <tr>
    <% get_creators etd do |creators| %>
      <td><%=h creators.pluck(:last_name).zip( creators.pluck(:first_name) ).map { |o| o.join(", ") } .join("; ") %></td>
    <% end %>
    <td><%=h etd.title %></td>
    <td><%=h etd.departments.pluck(:name).join(", ") %></td>
    <td><%= link_to 'Show', etd %></td>
    <td><%= link_to 'Edit', edit_etd_path(etd) %></td>
    <td><%= button_to 'Destroy', destroy_etd_path(etd), confirm: 'Are you sure?' %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New ETD', new_etd_path %>
