<h1><center> Pending etds</center></h1>

<table>
  <tr>
    <th>Degree</th>
    <th>Department</th>
    <th>Dtype</th>
    <th>Title</th>
    <!--<th>Abstract</th>
    <th>Availability</th>
    <th>Availability description</th>
    <th>Copyright statement</th>
    <th>Ddate</th>
    <th>Sdate</th>
    <th>Adate</th>
    <th>Cdate</th>
    <th>Rdate</th>
    <th>Pid</th>
    <th>Url</th>
    <th>Timestamp</th>-->
    <th>URN</th>
    <th>Bound</th>
  </tr>

<% @authors_etds.each do |etd| %>
  <tr>
    <td><%=h etd.degree %></td>
    <td><%=h etd.department %></td>
    <td><%=h etd.dtype %></td>
    <td><%=h etd.title %></td>
    <!--<td><%=h etd.abstract %></td>
    <td><%=h etd.availability %></td>
    <td><%=h etd.ddate %></td>
    <td><%=h etd.sdate %></td>
    <td><%=h etd.adate %></td>
    <td><%=h etd.cdate %></td>
    <td><%=h etd.rdate %></td>e
    <td><%=h etd.pid %></td>
    <td><%=h etd.url %></td>
    <td><%=h etd.timestamp %></td>-->
    <td><%=h etd.urn %></td>
    <td><%=h etd.bound %></td>
    <td><%= link_to 'Show', etd %></td>
    <td><%= link_to 'Edit', edit_etd_path(etd) %></td>
    <td><%= link_to 'Destroy', etd, :confirm => 'Are you sure?', :method => :delete %></td>
    </td>
  </tr>
<% end %>
</table>
<%#=h session[:user_id] %>
<%#=h @session_id %>
<%#=h @author.role %>
<br />

<%= link_to 'Back', etds_path %></br>
<%= link_to 'Log out', destroy_person_session_path %>
