<h1><center> Pending etds</center></h1>

<table>
  <tr>
    <th>Title</th>
    <th>Abstract</th>
  </tr>

<% @authors_etds.each do |etd| %>
  <tr>
    <td><%=h etd.title %></td>
    <td><%=h etd.abstract %></td>
    <td><%= link_to 'Show', etd %></td>
    <td><%= link_to 'Edit', edit_etd_path(etd) %></td>
    <td><%= link_to 'Destroy', etd, :confirm => 'Are you sure?', :method => :delete %></td>
    </td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'Back', etds_path %></br>
<%= link_to 'Log out', destroy_person_session_path %>
