<h1>Find Person</h1>
<%= form_tag(new_committee_path(@etd), id: "committee_search") do %>
  <%= label_tag(:name, "Member's Last Name") %>
  <%= text_field_tag(:name) %>
  <%= submit_tag("Find") %>
<% end %>
<br />
<%= form_tag(add_committee_path(@etd), id: "committee_add") do %>
  <div id="candidates">
    <table>
      <% for candidate in @candidates do %>
        <tr>
          <td><%= radio_button_tag(:candidate_id, candidate.id) %></td>
          <td><%= candidate.name %></td>
        </tr>
      <% end %>
    </table>
    <%= select_tag(:role_id, options_from_collection_for_select(Role.where(group: 'Collaborators'), :id, :name)) %>
  </div>
  <br />
  <%= submit_tag("Add to committee") %>
<% end %>
