<h1>New ETD</h1>
<p>
  <b>Files:</b>
  <%= nested_form_for @etd, url: next_new_etd_path(@etd), html: {multipart: true} do |f| %>
    <%= f.fields_for :contents do |cf| %>
      <% if cf.object.content? %>
        <% #This content already exists %>
        <%= cf.object.content_file_name %> |
        <!--<%= cf.object.content_content_type %> |-->
        <%= cf.object.content_file_size %> |
        <%= link_to "Edit", edit_content_path(cf.object)%> |
        <%= cf.link_to_remove "Delete" %>
      <% else %>
        <% #This is new content %>
        <%= cf.file_field :content %>
        <%= cf.hidden_field(:bound, {value: @etd.bound}) %>
        <%= cf.hidden_field(:availability_id, {value: @etd.availability_id}) %>
        <%= cf.link_to_remove "Remove"%>
      <% end %>
    <% end %>
    <%= f.link_to_add "Add more content", :contents %><br />
    <%= hidden_field_tag(:origin, '/etds/next_new/') %>
    <%= f.submit "Update Content" %>
  <% end %>
</p>
<p>
  <b>Advisory Committee:</b>
  <% if !@collabs.empty? %>
    <table class="outlined">
      <tr>
        <th>Advisor:</th>
        <th>Role:</th>
      </tr>
      <% for collab in @collabs do %>
        <% for pr in @etd.people_roles.where(person_id: collab.id, role_id: Role.where(group: 'Collaborators')) %>
          <tr>
            <td><%= get_name(collab) %></td>
            <td><%= Role.find(pr.role_id).name %></td>
            <td><%= link_to 'Destroy', destroy_people_role_path(pr), data: {confirm: 'Are you sure?'}, method: :post, remote: true, class: "del_pr" %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% else %>
    None yet. Go add one!
  <% end %>
  <%= form_tag(controller: "people", action: "find") do %>
    <%= hidden_field_tag(:etd_id, @etd.id) %>
    <%= hidden_field_tag(:origin, '/etds/') %>
    <%= submit_tag "Add New Committee Member" %>
  <% end %>
</p>
<p>
<%= link_to 'View ETD', @etd %>
</p>
<script>
$('.del_pr').bind('ajax:success', function() {  
    $(this).closest('tr').fadeOut();  
});
</script>
