<p>
  <b>Type of Document:</b>
  <%= @etd.document_type.name %>
</p>
<p>
  <b><%= "Author".pluralize(@creators.size) %>:</b>
  <%= @creators.pluck(:last_name).zip(@creators.pluck(:first_name)).map { |o| o.join(", ") } .join("; ") %>
</p>
<% if !@emails.nil? %>
<p>
  <b>Author's <%= "Email".pluralize(@creators.size) %>:</b>
  <%= @emails %>
</p>
<% end %>
<p>
  <b>URN:</b>
  <%= @etd.urn %>
</p>
<p>
  <b>Title:</b>
  <%= @etd.title %>
</p>
<p>
  <b>Degree:</b>
  <%= @etd.degree.name %>
</p>
<p>
  <b>Departments:</b>
  <%= Department.where(id: @etd.departments).pluck(:name).join(", ") %>
</p>
<p>
  <b>Advisory Committee:</b>
  <% if !@collabs.empty? %>
    <table class="outlined">
      <tr>
        <th>Advisor:</th>
        <th>Role:</th>
      </tr>
      <% for collab in @collabs do %>
        <tr>
          <td><%= collab.person.name %></td>
          <td><%= collab.role.name %></td>
          <td><%= link_to 'Remove', destroy_people_role_path(collab), data: {confirm: 'Are you sure?'}, method: :post, remote: true, class: "del_pr" %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    None yet.<%= ' Go add one!' if @creators.include?(current_person) %>
  <% end %>
  <% if @creators.include?(current_person) %>
    <%= form_tag(find_committee_path(@etd)) do %>
      <%= submit_tag "Add New Committee Member" %>
    <% end %>
  <% end %>
</p>
<p>
  <b>Keywords:</b>
  <ul>
  <% for word in @etd.keywords.to_s.split(",").uniq do %>
    <% unless word.squish.empty? %>
      <li><%= word.squish %></li>
    <% end %>
  <% end %>
  </ul>
</p>
<p>
  <b>Defense Date:</b>
  <%= @etd.defense_date %>
</p>
<p>
  <b>Availability:</b>
  <%= @etd.availability.name %><br />
  <%= @etd.availability.description %>
</p>
<p>
  <b>Abstract:</b>
  <%= @etd.abstract %>
</p>
<p>
  <b>Files:</b>
  <% if !@etd.contents.empty? %>
    <table class="outlined">
      <tr>
        <th>File Name:</th>
        <th>File Size:</th>
        <th></th>
        <th></th>
      </tr>
      <% for c in @etd.contents do %>
        <tr>
          <td><%= c.content_file_name %></td>
          <td><%= c.content_file_size %></td>
          <td style="font-variant: small-caps;"><%= link_to('[metadata]', content_path(c)) %></td>
          <td style="font-variant: small-caps;"><%= link_to('[download]', c.content.url) %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    None yet.<%= ' Go add some!' if @creators.include?(current_person) %>
  <% end %>
  <%= button_to("Manage Content", etd_contents_path(@etd), method: :get) if @creators.include?(current_person) %>
</p>
<br />
<%= form_tag(controller: "conversations", action: "new") do %>
  <%= hidden_field_tag(:model_type, @etd.class.name) %>
  <%= hidden_field_tag(:model_id, @etd.id) %>
  <%= submit_tag "Send a message about this ETD" %>
<% end %>
<br />
<%= link_to 'Edit', edit_etd_path(@etd) %> |
<%= link_to 'Back', etds_path %>
<script>
$('.del_pr').bind('ajax:success', function() {  
    $(this).closest('tr').fadeOut();  
});
</script>
