<h1>Editing doc_type_description</h1>

<%= form_for(@doc_type_description) do |f| %>
s
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @doc_type_description %> |
<%= link_to 'Back', doc_type_descriptions_path %>