<h1>New doc_type_description</h1>

<%= form_for(@doc_type_description) do |f| %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', doc_type_descriptions_path %>