
<h1>Listing people_roles</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<%= @people_roles.each do |people_role| %>
  <tr>
    <!--<td><%= %>#h people_role.name %></td>-->
    <td><%= link_to 'Show', people_role %></td>
    <td><%= link_to 'Edit', edit_people_role_path(people_role) %></td>
    <td><%= link_to 'Destroy', people_role, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New people_role', new_people_role_path %>
