<%= form_for(@privacy_statement) do |f| %>
  <% if @privacy_statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@privacy_statement.errors.count, "error") %> prohibited this privacy_statement from being saved:</h2>

      <ul>
      <% @privacy_statement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :statement %><br />
    <%= f.text_field :statement %>
  </div>
  <div class="field">
    <%= f.label :retired %><br />
    <%= f.check_box :retired %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.date_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :retired_at %><br />
    <%= f.date_select :retired_at %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
