<h1>Listing privacy_statements</h1>

<table>
  <tr>
    <th>Statement</th>
    <th>Retired?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @privacy_statements.each do |privacy_statement| %>
  <tr>
    <td><%= privacy_statement.statement %></td>
    <td><%= privacy_statement.retired %></td>
    <td><%= link_to 'Show', privacy_statement %></td>
    <td><%= link_to 'Edit', edit_privacy_statement_path(privacy_statement) %></td>
    <td><%= button_to 'Destroy', destroy_privacy_statement_path(privacy_statement), confirm: 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Privacy statement', new_privacy_statement_path %>
