<div class="page-title"> 
  <p>Browse Available VT ETDs </p>
</div>
<table >
  <tr align=left><th> Browse by Author</th> </tr>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td>
<!-- construct a navigation bar to be used before and after the main body of data....
 first, the search form -->
<% for letter in "A".."Z"  %>
<%= link_to letter , url_for(:controller => :browse, :action => :browse_by_author, :letter => letter) %> | 
<% end %>
</td>
  </tr>
  <tr align=left> <th>Browse by Department </th></tr>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td>
<!-- construct a navigation bar to be used before and after the main body of data....
 first, the search form -->
<% for letter in "A".."Z"  %>
<%= link_to letter , url_for(:controller => :browse, :action => :browse_by_department, :letter => letter) %> | 
<% end %>
</td>
  </tr>
  <tr align=left><th> Browse by Advisor </th></tr>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td>
<!-- construct a navigation bar to be used before and after the main body of data....
 first, the search form -->
<% for letter in "A".."Z"  %>
<%= link_to letter , url_for(:controller => :browse, :action => :browse_by_advisor, :letter => letter) %> | 
<% end %>
</td>
  </tr>

</table>
