<h1>Listing roles</h1>

<table>
  <tr>
    <th>Name</th>
</tr>
<% if @ability.can? :assign_roles, @person %>

<% @roles.each do |role| %>
  <tr>
    <td><%=h role.name %></td>
    <td><%= link_to 'Show', url_for(:controller=>:admin,:action=>:show_role, :id=>role.id) %></td>
    <td><%= link_to 'Edit', url_for(:controller=>:admin,:action=>:edit_role, :id=>role.id) %></td>
    <td><%= link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete_role %></td>
  </tr>
<% end %>
<% end %>
</table>

<br />

<%= link_to 'New role', url_for(:controller=>:admin,:action=>:add_role) %>
