<h1>Listing roles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Group</th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%=h role.name %></td>
    <td><%=h role.group %></td>
    <td><%= link_to 'Show', role %></td>
    <td><%= link_to 'Edit', edit_role_path(role) %></td>
    <td><%= button_to 'Destroy', destroy_role_path(role), confirm: 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New role', new_role_path %>
