<%= stylesheet_link_tag 'paginate' %>
<h1 style="float:left;">Listing roles</h1>
<div id="page_pref" class ="top_bar" style="margin-top:28px">
  <%= form_tag roles_path, :method => 'get' do %>
    Results Per Page: <%= select_tag :per_page, options_for_select(%w[10 20 50 100], @per_page),
         :onchange => "this.form.submit();" %>
  <% end %>
</div>
<%= will_paginate @roles %>
</br>
<table  style="clear: both;">
  <tr>
    <th>Name</th>
    <th>Group</th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%=h role.name %></td>
    <td><%=h role.group %></td>
    <td><%= link_to 'Show', role %></td>
    <td><%= link_to 'Edit', edit_role_path(role) %></td>
    <td><%= button_to 'Destroy', destroy_role_path(role), data: {confirm: 'Are you sure?'} %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New role', new_role_path %>
