<p>
  <b>Name:</b>
  <%= @role.name %>
</p>
<p>
  <b>Group:</b>
  <%= @role.group %>
</p>
<p>
  <b>Priority:</b>
  <%= @role.priority %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
