<h1>Editing digital_object</h1>

<% form_for(@digital_object) do |f| %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @digital_object %> |
<%= link_to 'Back', digital_objects_path %>
